/* Font Definitions */

/* Space Grotesk */

@font-face {
    font-family: 'Space Grotesk';
    src: url("../public/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf") format('truetype');

    font-style: normal;

    font-display: swap;
}