@tailwind utilities;

@layer utilities {

    /* https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40 */
    .smooth-underline {
        background: linear-gradient(currentColor 0 0) var(--p, 0) 100% /var(--d, 0) 3px no-repeat;
        transition: 0.7s, background-position 0s 0.7s;
    }

    .smooth-underline-active {
        --d: 100%;
        --p: 100%;
    }

}